html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  touch-action: none;
  overflow: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  display: block;
}
